.wrapper {
  width: 300px;
  height: 600px;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}
.run i{
  color: #fff;
    position: absolute;
    font-size: 43px;
    top: 33px;
    left: 28px;
}
.image-1{
  position: absolute;
    z-index: 9;
    top: 148px;
    right: 91px;
    width: 141%;
    opacity: 0;
    transition: all 2s;
}
.image-1.show{
  opacity: 1;
}

.wrapper .text-1{
  z-index: 9;
  position: absolute;
  width: 100%;
  color: #fff;
  transition: all 2s;
  font-size: 36px;
  top: 222px;
  left: 65px;
  opacity: 0;
}
.wrapper .text-1.show{
  left: 65px;
  opacity: 1;
}

.image-2{
  position: absolute;
    z-index:9;
    top: 0px;
    left: 82px;
    width: 116%;
    opacity: 0;
    transition: all 4s;
    transform: scaleX(-1);
}
.image-2 .show{
  opacity: 1;
}
.wrapper .text-2{
  z-index: 9;
  position: absolute;
  width: 100%;
  color: #fff;
  opacity: 0;
  transition: all 4s;
  font-size: 36px;
  top: 222px;
  left: 70px;
}
.wrapper .text-2.show{
  left: 50px;
}

.image-3{
  position: absolute;
    z-index: 9;
    top: 169px;
    right: 22px;
    width: 126%;
     opacity: 0;
    transition: all 5s; 
    transform: scaleX(-1);
    transform: rotate(93deg);
}
.image-3.show{
  opacity: 1;
}
.wrapper .text-3{
  z-index: 9;
  position: absolute;
  width: 100%;
  color: #fff;
  opacity: 0;
  transition: all 5s;
  font-size: 36px;
  top: 222px;
  left: 70px;
}
.wrapper .text-3.show{
  left: 50px;
}

.winbet i{
  position: absolute;
    z-index: 10;
    top: 131px;
    left: 61px;
    font-size: 44px;
    color: #fff;
    transition: all 6s;
}
.wrapper .text-4{
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 55px;
  font-size: 26px;
  color: #fff;
  transition: all 6s;
}
.wrapper .text-4.show{
  left: 50px;
}
.wrapper .text-5{
  position: absolute;
    z-index: 10;
    top: 161px;
    left: 90px;
    font-size: 13px;
    color: #fff;
    transition: all 6s;
}
.wrapper .text-5.show{
  left: 50px;
}
.play i{
  position: absolute;
    z-index: 10;
    top: 342px;
    left: 80px;
    font-size: 31px;
    color: #fff;
    transition: all 6.5s;
}
.wrapper .text-6{
  position: absolute;
    z-index: 10;
    top: 11px;
    left: 42px;
    font-size: 12px;
    color: #fff;
    transition: all 6.5s;
    width: 190px;
}
.wrapper .text-6.show{
  left: 50px;
}
.appstore i{
  position: absolute;
  z-index: 10;
  top: 404px;
  left: 80px;
  font-size: 42px;
  color: #fff;
  transition: all 7s;
}
.wrapper .text-7{
  position: absolute;
    z-index: 10;
    top: 16px;
    left: 50px;
    font-size: 13px;
    width: 168px;
    color: #fff;
    transition: all 7s;
}
.wrapper .text-7.show{
  left: 50px;
}
.wrapper .text-8{
  position: absolute;
    z-index: 10;
    padding: 9px 26px;
    top: 469px;
    left: 69px;
    border-radius: 4px;
    font-size: 19px;
    color: #000;
    transition: all 7.5s;
    opacity: 0;
}
.wrapper .text-7.show{
  left: 50px;
}